:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.subTitle {
    margin-bottom: 1.3rem;
}
