// Import all the tools needed to customize the theme and extract parts of it
@import '../../../node_modules/@angular/material/theming';
@import "theming";
@include mat-core();

$sncr-app-primary: mat-palette($sncr-primary, A100);
$sncr-app-accent:  mat-palette($sncr-accent);
$sncr-app-warn:    mat-palette($sncr-warning, 200);

$sncr-app-theme: mat-light-theme($sncr-app-primary, $sncr-app-accent, $sncr-app-warn);

@include angular-material-theme($sncr-app-theme);

$primary: map-get($sncr-app-theme, primary);
$accent: map-get($sncr-app-theme, accent);
$warning: map-get($sncr-app-theme, warn);
