<div class="d-flex device-selection">
    <div class="filter d-flex align-items-center" (click)="onFilterClick()" [ngClass]="{'filter-clicked': modalOpened}">
        <div class="filter-icon mr-20">
        </div>
        <div class="filter-text mr-20">
            Filter
        </div>
        <div class="filter-arrow-icon">
            <i class="caret"></i>
        </div>
    </div>

    <div class="filter-modal" *ngIf="filterOptions" [ngClass]="{'modal-opened': modalOpened}">
        <div class="d-flex">
            <div class="filter-column" *ngFor="let filter of filterid">
                {{filter}}
                <div class="checkbox-group checkbox-vertical">
                    <mat-checkbox class="checkbox-button" [value]="option.checked" [(ngModel)]="option.checked"
                        (change)="onChangeEvent($event, option.value, filter)" *ngFor="let option of filterOptions[filter]"
                        [checked]="option.checked">
                        {{option.value}}</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="d-flex filter-modal-footer">
            <button class="dxp_Btn btn-stroked" (click)="clear()">Clear</button>
            <button class="dxp_Btn btn-primary" (click)="filterProductList()"
                [disabled]="!(choosenFilter.length > 0)">Filter</button>
        </div>
    </div>
</div>
<div class="p-30">
    <div class="mt-40 devices-list" *ngIf="(items && items.length > 0); else noData">
        <mat-card class="device" (click)="displayProductDetails(item)" *ngFor="let item of items">

            <div class="productImg">
                <img mat-card-image src="../../assets/Product_Icon.png" class="img-fluid" alt="Device">
            </div>

            <mat-card-content>
                <h4 class="device-name font-strong">{{item.name}}</h4>
                <h3 class="device-price font-strong">{{item.price | currency:item?.currency:'symbol'}}</h3>
                <!--<sup class="font-normal">00</sup>-->
                <div class="device-description text-ellipsis">
                    {{item.shortdescription}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #noData>
        <div class="mt-40 devices-list">
            <h3 class="device-price font-strong">No Data Found.</h3>
        </div>
    </ng-template>
</div>
<product-details [active]="active" [details]="details" [rootNode]="rootNode" [config]="config" [data]="data">
</product-details>