@import "variables";

$primary: map-get($sncr-app-theme, primary);

.product-details{
    height: calc(100% - 60px);
    position: fixed;
    right: -464px;
    top: 0px;
    overflow: auto;
    background: mat-color($primary, 800);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    max-width: calc(464px - 60px);
    transition: right 200ms ease-in-out;
    transform: translateZ(0);
    z-index: 999;

    &.open{
        right: 0px;
    }

    .product-name{
        position: relative;
        font-size: 24px;
        padding-right: 50px;

        .close{
            position: absolute;
            right: 0px;
            top: 0px;

            button{
                margin: 0px;
                padding: 0px 10px;
                min-width: auto;
                line-height: normal;
                font-size: 24px;
            }
        }
    }

    .drag-zoom{
        font-size: 10px;
        color: #717171;
        margin: 20px 0px;
        text-align: center;
    }

    .product-image{
        position: relative;
        min-height: 300px;
        display: inline-flex;
        width: 100%;

        .play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .img-fluid{
            /*max-width: calc(100% + 32px);*/
            border-radius: 0px;
            align-self: center;
            margin: 0 auto;
            height: auto;
        }
    }

    .selection-title{
        color: #717171;
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .selection-box{
        .selection-item{
            min-width: 12px;
            margin-right: 20px;
            min-height: 12px;
            padding: 16px;
            border: 1px solid #f2f2f2;
            cursor: pointer;
            border-radius: 2px;

            &.active{
                border: 2px solid mat-color($primary, A100);
                color: mat-color($primary, A100);
            }

            &.white{
                background-color: #fff;
            }

            &.black{
                background-color: #000;
            }

            &.purple{
                background-color: #cc1c7b;
            }

            &.yellow{
                background-color: #dce01e;
            }

            &.blue{
                background-color: #1e90e0;
            }

        }
    }


    .device-price{
        font-size: 24px;
        margin: 0px 0px 20px 0px;
        color: mat-color($primary, 500);
        sup{
            font-weight: normal;
            font-size: 12px;
            margin-left: 5px;
        }
    }

    .add-to-cart{

        .quantity{
            margin-right: 20px;
            flex: 0 0 25%;

            ::ng-deep .mat-form-field{
                .mat-form-field-infix{
                    padding-right: 0px;
                    min-width: 80px;
                    width: 80px;
                }
            }

        }

        .add-to-card-button{
            margin-right: 20px;
            flex: 0 0 calc(75% - 20px);

            button{
                width: 100%;
            }
        }
    }

    ::ng-deep .mat-accordion{
        .mat-expansion-panel{
            box-shadow: none;
            margin-bottom: 30px;

            .mat-expansion-panel-spacing{
                margin-top: 0px;
            }

            .mat-expansion-panel-header{
                color: mat-color($primary, A100);
                padding: 0px;
                height: auto !important;
                margin-bottom: 20px;

                &:hover{
                    background-color: transparent !important;
                }

                .mat-content{
                    text-decoration: underline;
                    flex: 0 0 auto;
                    margin-right: 10px;
                }

                .mat-expansion-indicator:after{
                    color: mat-color($primary, A100);

                }
            }
        }

        .mat-expansion-panel-body{
            padding: 0px;
        }

    }


}

.mat-raised-button {
    line-height: 42px !important;
    margin-top: 3px !important;

}

@media only screen and (max-width: 1024px) {
    ::ng-deep .product-details .add-to-cart .quantity .mat-form-field-infix {
        min-width: 50px !important;
        width: auto !important;
    }
}
