@import 'variables';

.app-footer{
  background-color: var(--footerBg);
	color: var(--footerFont);
	font-size: 12px;
	text-align: left;
	padding: 16px 30px;
	overflow: hidden;

	p{
		margin: 0px;
	}

	a{
		color: var(--footerAnchorTag);
	}
}
