//.uitStringNode {
//    display: block;
//    width: 100%;
//    font-size: 14px;
//}
//


:host {
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 1rem 0;

}

label, input, select {
  display: block
}
