<section class="devices-list" *ngIf="sortedList">
  <label for="input1" class="font-strong font-size-18">{{config.componentSubTitle}}: <span class="font-normal">{{selected.length
          > 4 ? (selected | titlecase):(selected | uppercase)}}</span></label>

  <div class="d-flex" *ngFor="let tiles of sortedList">
  <div class="d-flex flex-wrap mt-20" *ngFor="let tile of tiles">
      <div (click)="selected = tile.propertyName; onsubmit()" [class]="(selected== tile.propertyName)?'device-item active':'device-item'">
          <img [src]="tile.propertyValue" />
      </div>
  </div>
</div>
</section>

